<html>
<head>
  <title>The Gossip Project</title>
</head>
<body>
      <h4>Voici la page de l'utilisateur <%= params[:id] %>      </h4>
      <p1>
      Nom : <%= @userfind.email %> <br/>
      </p1>


</body>
</html>
